@import "grid";
*{
    font-family: 'Raleway', sans-serif;
    color: white;
 }
 body{
     background-repeat: no-repeat;
     background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


 }

 .main_segment{
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
    //  border: 1px solid red;
 }
 .segment{
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
    //  border: 1px solid red;
 }
 .container{
   width: 100%;
   max-width: 1024px;
   margin: 0 auto;
   // border: 1px solid black;
 }
 ul{
     list-style-type: none;
     display: flex;
     justify-content: space-around;
 }

 .menu nav ul li{
     color: white;
     text-transform: uppercase;
     &:hover{
         font-size: 1.3rem;
     }
 }

 .menu nav ul a{
     text-decoration: none;
 }
.name{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2.5rem;
}
.icon_effect{
    fill: lightgrey;
}
.icon_effect:hover{
    fill: white;
}


#icon_position{
    text-align: center;
}

.arrow{
    text-align: center;
}

.footer{
    // height: 5vh;
    float: right;
    font-size: 0.8rem;
    text-align: center;

}

.about{
    padding: 0;
    font-weight:300;
}

.icons{
    text-align: center;
}
.app{
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
  margin-right: 10px;
  display: inline-block;
}
.app:hover {
  -webkit-transform: scale(1.5);
  margin: 0 1em;
}

.tech{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}
.picture{
    text-align: center;

}
#picture{
    border-radius: 50%;
}

#coder{
    width: 252px;
    height: 64px;
    margin-top: 5vh;
}

.project{
    border: 2px solid white;
    height: 20vh;
    line-height: 20vh;
    text-align: center;
}
