@import "grid";
*{
    font-family: 'Raleway', sans-serif;
    color: white;
 }
 body{
     background-repeat: no-repeat;
 }
 .container{
   width: 100%;
   max-width: 1024px;
   margin: 0 auto;
 }
 ul{
     list-style-type: none;
     display: flex;
     justify-content: space-around;
 }
 .menu{
     height: 10vh
 }
 .menu nav ul li{
     color: white;
     text-transform: uppercase;
     &:hover{
         font-size: 1.3rem;
     }
 }

 .menu nav ul a{
     text-decoration: none;
 }
.name{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2.5rem;
    height: 75vh;
    padding-top: 25vh;
}
.header{
    height: 100vh;
    width: 100vw;
}
.git_icon{
    fill: lightgrey;
}
.git_icon:hover{
    fill: white;
}

.linked_icon{
    fill: lightgrey;

}
.linked_icon:hover{
    fill: white;
    fill-rule: nonzero;
}

.gmail_icon{
    fill: lightgrey;

}
.gmail_icon:hover{
    fill: white;
    fill-rule: nonzero;
}

#icon_position{
    text-align: center;
}
.links{
    height: 10vh;
}
.footer{
    height: 5vh;
    float: right;
    font-size: 0.8rem;
    text-align: center;

}

.about{
    padding: 0;
    font-weight:300;
}

.icons{
    text-align: center;
}
.app{
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
  margin-right: 10px;
  display: inline-block;
}
.app:hover {
  -webkit-transform: scale(1.5);
  margin: 0 1em;
}

.tech{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}
.picture{
    text-align: center;

}
#picture{
    border-radius: 50%;
}

#coder{
    width: 252px;
    height: 64px;
    margin-top: 5vh;
}
