@import "grid";
*{
    font-family: 'Raleway', sans-serif;
    // font-family: 'Roboto Condensed', sans-serif;
    color: white;
 }
 body{
     background-repeat: no-repeat;
     background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

a{
    text-decoration: none;
}

 }

 .main_segment{
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
    //  border: 1px solid red;
 }
 .segment{
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
    //  border: 1px solid red;
 }
 .container{
   width: 100%;
   max-width: 1024px;
   margin: 0 auto;
   // border: 1px solid black;
 }
 ul{
     list-style-type: none;
     display: flex;
     justify-content: space-around;
 }

 .menu nav ul li{
     color: white;
     text-transform: uppercase;
     &:hover{
         color: black;
         font-size: 1.1rem;
         font-weight: bold;

     }
 }

 .menu nav ul a{
     text-decoration: none;
 }
.name{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2.5rem;
}
.icon_effect{
    fill: lightgrey;
}
.icon_effect:hover{
    fill: white;
}


#icon_position{
    text-align: center;
}

.arrow{
    text-align: center;
}

.footer{
    // height: 5vh;
    float: right;
    font-size: 0.8rem;
    text-align: center;

}

.about{
    padding: 0;
    font-weight:300;
}

.icons{
    text-align: center;
}
.app{
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
  margin-right: 10px;
  display: inline-block;
}
.app:hover {
  -webkit-transform: scale(1.5);
  margin: 0 1em;
}

.tech{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}


.project{
    border: 2px solid white;
    height: 20vh;
    line-height: 20vh;
    text-align: center;
}

.project:hover{
    background-color: lightgrey;
    color: black;
    transition: 500ms ease-in;

    span{
        color: black;
    }
}


// dots animation
@-webkit-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.soon span {
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: opacity;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
}

.soon span:nth-child(1) {
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
}

.soon span:nth-child(2) {
    -webkit-animation-delay: 1500ms;
    -moz-animation-delay: 1500ms;
}

.soon span:nth-child(3) {
    -webkit-animation-delay: 2500ms;
    -moz-animation-delay: 2500ms;
}



//overlay
.overlay > .container {
    display: flex;
    flex-direction: column;
}
.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    z-index: 10000;
}

.over_btn {
    color: black;
    width: 100%;
    height: 5vh;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
#github_link{
    height: 10vh;
    width: 30vw;
    font-size: 2rem;
    p{
        color: black;
    }
    span{
        display: none;
    }
}

#github_link:hover{
    background-color: black;
    color: white;
    transition: 500ms ease-in;

    span{
        display: block;
    }

    p{
        display: none;
    }

}

#over_title{
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    color: red;
    font-weight: bold;
}
#over_text {
    text-align: center;
    font-size: 2rem;
}
#close {
    background-color: black;
    border: none;
    color: white;
}

.scroll{
    display: none;
    position: fixed;
    bottom: 1vh;
    right: 5vw;
}
